<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies List</title>
</head>
<body>
   
   <div class ="midol">
    <table width="506" border="5" class="table" align="center">
        <marquee direction="right" scrolldelay ="200" behavior="alternate" style="background:#b8f3ff;border:#63768d 3px SOLID" width ="500">  
            <h1>Movies List</h1> 
            </marquee>  
        {% for movie in movies %}
        <tr >

      
            <td align="center"><a href="{% url 'movie_detail' movie.id %}"><b><font color="#554971">{{ movie.title }}</font></b></a></td>
           
            {% endfor %}
        </tr>
   
           
      
        
    </table>
</div>    
             
       
           
    

</body>
</html>
<style>

body{
    background: #8AC6D0;
    text-align: center;
}

.table a
{
    display:block;
    text-decoration:none;
}

</style>
