<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Movies List</title>
</head>
<body>
   
   <div class ="midol">
    <table  border="15" class="table" align="center">
        <marquee direction="right"  style="background:#63768d;border:#63768d 3px SOLID" width ="300">  
            <h1>Movies List</h1> 
            </marquee>  
        {% for movie in movies %}
        <tr >

      
            <td align="center" style="background:#b8f3ff"><a href="{% url 'movie_detail' movie.id %}"><b><font color="#554971">{{ movie.title }}</font></b></a></td>
           
            {% endfor %}
        </tr>
        
           
      
        
    </table>
</div>   

<div>
    <h1><a href="{% url 'movie_create' %}"><b>Create Movie</b></a></h1>
</div>
             
       
           
    

</body>
</html>
<style>

body{
    background:url('https://dmarket.com/blog/best-dota2-wallpapers/dota2heroes7_hu3b1dceb244ec3fefbad73471cde2e900_222198_1920x1080_resize_q75_lanczos.jpg');
    text-align: center;
}

.table a
{
    display:block;
    text-decoration:none;
}


</style>
